*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: cambria, sans-serif, cursive, monospace, serif;
}
a{
   text-decoration: none;
}

/*trabajando con el logo*/

.logo {
   width: 100%;
   padding: 20px 40px 60px 80px;
   background:#5CDF88 ;
   margin: 0 auto;   
}
.logo img{

   width: 60%;
   height: 150px; 
   margin-left: 230px;
}
/*MENU HORIZONTAL*/

#menu-h{

   max-width: 1600px;
   background:#76FCA3 ;
   margin: 0 auto;
   font-family: cursive;
}

#menu-h ul{
   list-style: none;
   display: flex;
   justify-content: center;
}


#menu-h a{
color: #000;
display: block;
padding: 15px;
text-decoration: none;
background:#76FCA3 ;
      
font-size: 17px;

}
#menu-h ul ul{

display: none;
position: absolute;
}
#menu-h a:hover{
   background-color: #1c9100;
}

#menu-h ul li:hover ul {
display: block;
}

/*MENU HORIZONTAL*/



/*SLIDER AUTOMAICO*/


.slider{

   width: 100%;
   margin: auto;
   overflow: hidden;
}

.slider h2{
 font-family: cursive;
  font-size: 25px;
  padding: 30px;

}

.slider ul{
   display: flex;
   padding: 20px;
   width: 400%;
animation: cambio 10s infinite alternate linear;
}

.slider li{
   width: 100%;
   list-style: none;

}

.slider img{
   width: 100%;
}

@keyframes cambio{
   
   0%{margin-left: 0;}
   20%{margin-left: 0;}
      
   25%{ margin-left: -100%;}
   45%{ margin-left: -100%;}

   50%{ margin-left: -200%;}
   70%{ margin-left: -200%;}

   75%{ margin-left: -300%;}
   100%{ margin-left: -300%;}
}


/*SLIDER AUTOMAICO*/


.container{
   
   width: 100%;
  height: 400px;
  margin: auto;  
background-color:#3DE575 ;
margin-top: 50px;
 
}
.container-2{
   
   width: 100%;
  height: 400px;
  margin: auto;  
background-color:#3DE575 ;
margin-top: 500px;
 
}
.row{
   display: flex;
   flex-wrap: wrap;


}

ul{
   list-style: none;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
   font-size: 18px;
   color: #000000;
   text-transform: capitalize;
   margin-bottom: 35px;
   font-weight: 500;
   position: relative;
   margin-top: 50px;

}
.footer-col h4:before{
   content: '';
   position: absolute;
   left: 0;
   bottom: -10px;
   background-color: #e91e63;
   height: 2px;
   width: 50px;
}

.footer-col ul li:not(:last-child){
   margin-bottom: 10px;

}
.footer-col ul li a{
   font-size: 16px;
   text-transform: capitalize;
   color:#000000;
   font-weight: 300;
   color: #000;
   display: block;
   transition: all 0.3s ease;
   margin-bottom:20px;

}
.footer-col ul li a:hover{
   color: #ffffff;
   padding-left: 8px;
}

.footer-col .social-links a{
   display: inline-block;
   height: 40px;
   width: 40px;
   background-color: rgba(255, 255, 255, 0.2);
   margin: 0 10px 10px 0;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   color:#000;
   transition: all 0.5 ease;

}

.footer-col .social-links a:hover{
   color: #24262b;
   background-color: #ffffff;

}

/*Pie de pagina*/

/*CIERRE DE LA PAGINA INDEX.HTML*/


/*nosotros*/
.nosotros {
   color: #444444;
    padding: 30px;
    font-size: 22px;

}
.nosotros p{
   justify-content: left;
}

.nosotros-2{

   margin-left: 900px;
   margin-top: -600px;
   font-size: 22px;
    color: #444444;
}
#nosotros h3{

   padding: 20px;
}
#nosotros img{
   width: 100%;
}

.img{
   margin-top: -500px;
   margin-left: 650px;
}


/*nosotros*/

 
 

/*trabajando con servicios*/

.server{

   background-color: #E1E1E1;
   height: 490px;
   width: 30%;
   margin-left: 160px;
   border-radius: 16px;
   position: absolute;

}

h1{
   
   color:#5D5F68  ;  
   text-align: center;
   margin-top: 10px;
   padding-right: 70px;

}
#parrafo3{
   margin-top: 10px;
   margin-left: 10px;
   color:#FC0101;
   font-size: 17px;
}

#empresa1{
   margin-top: 10px;
   margin-left: 10px;
   color: #000000;

}

.seff{

   position: relative;
   background-color:#E1E1E1;
   border-radius: 16px;
   margin-left: 800px;
   height: 460px;
   width: 30%;
}

h3{

color: #05952D;
margin-left: 10px;

}

.cont{
   position: absolute;
}




.contacto{
   margin-left: 540px;
   margin-top: 20px;
}



h6{

   color:#0AC63D ;
   font-size: 22px;
   margin-left: 580px;
   margin-top: 10px;
}

#parrafo4{
   margin-left: 580px;
   margin-top: 10px;
  
}

.dire{
   position: relative;
   margin-left: 200px;
}


/*Productos*/


.productos{

   display: flex;
   margin-top: 50px;
   margin-left: 120px;
   width: 100px;
   height: 150px;
}

/*Productos*/

/*contactanos*/
form{
    margin-left: 20px;
    position: absolute;
    margin-top: 270px;
 min-width: 280px;
    font-size: 22px;
    max-width: 25%;
    width: 25%;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    box-shadow: 0 1rem 1rem  rgba(0, 0, 0, 0.3);
    background-color: #77F8A2 ;
    backdrop-filter: blur(1rem);
    border-radius: 5px;
    color: #fff;
}
.acuerdo{
   color: #000;
}

h1{
    position: relative;
    font-size: 22px;
    margin-bottom: 15px;
    padding-bottom: 7px;
}
h1:after{
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    width: 210px;
    left: 0;
    bottom: 0;    
}
input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 6px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 1px;
}
button{
   margin-left:50px;
   width: 200px;
  font-size: 15px;
  border-radius: 10px;

}
button:hover{
   background-color: #ccc;
}
#video1{
   width:   500px;
   height: 390px;
   margin-top: 100px;
   margin-left: 100px;
   background-color: #ccc;
}
#video1 video{
width:   500px;
padding:20px;
}

#video1 p{
   text-align: center;
}
#video2{
   width:   500px;
   height: 350px;
   margin-top: -350px;
   margin-left: 800px;
   background-color: #ccc;
}
#video2 video{
width:   500px;
padding:20px;
}

#video2 p{
   text-align: center;
}
#video3{
   width:   500px;
   height: 350px;
   margin-top: 100px;
   margin-left: 100px;
   background-color: #ccc;
}
#video3 video{
width:   500px;
padding:20px;
}

#video3 p{
   text-align: center;
}